body {
    background-color: #000000;
}

.nav-wrapper {
    background-color: #1A1A1A;
}

input {
    color: #fff;
}

input:not(.browser-default):focus:not([readonly]) {
    border-bottom: 1px solid #007FFF !important;
    -webkit-box-shadow: 0 1px 0 0 #007FFF !important;
    box-shadow: 0 1px 0 0 #007FFF !important;
}

.nav-title-custom {
    color: #007FFF !important;
    white-space: nowrap;
}

.body-custom {
    margin: 0 auto;
    width: 300px;
}

.btn-large {
    background-color: #007FFF !important;
}

.browser-default {
    border-color: #1A1A1A !important;
    color: #fff !important;
    background-color: #1A1A1A !important;
}
